* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}


:root {
    
    --background-color: #D0C5B1;
       } 


  @font-face{
    font-family: "CocomatPro-Heavy";
    src:url("./CocomatPro-Heavy.ttf");

}

body {
    /*font-family: Arial, sans-serif;*/
    background-color: var(--background-color);
    /* background-image: url("fon.jpg"); */
    margin: 0;
    padding: 0;
    font-family: "CocomatPro-Heavy";;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 10px;
    text-align: center;
}



a{
    color:white;
    text-decoration: none;
    transition: .4s;

}




.banner{
    overflow: hidden; 
    white-space: nowrap;
    width: 100%;
   
}


.banner-text{
    overflow: hidden; 
    white-space: nowrap; 
    width: 100%; 
}

.textScroll
{
    display: inline-block; 
    animation: scroll-text s10s linear infinite;
    
}

.mainText{
    display: inline-block; 
    animation: scroll-text 5s linear infinite;
    color:#817569;
    text-decoration: none;
    text-transform: uppercase;
    font-size:150px;
}
.we{
   word-spacing: 5px;
}

@keyframes scroll-text {
    0% {
        transform: translateX(0); 
    }
    100% {
        transform: translateX(-100%); 
    }
}



.sub-title ul {
    text-align: center;
    padding: 0; 
    margin-left:70px;
    color:#8e8175;
}



.sub-title ul li {
    font-size: 22px;
    text-align: left; 
    margin: 10px 0; 
     padding: 0;
}



.line{
    color:#F3F4E9;
    margin-top:20px;
    display: flex;
    justify-content: center;
}


.title_section{
    display: flex;
    justify-content: center;
}

.typesText{
   
    
    font-size:50px;
    color:#817569;
}





.allTypes{

    
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap; 
   
    margin-top: 20px;

    margin-bottom: 30px;

  
   

   
}

.types{


    color:#F3F4E9;
    font-size: 20px;
    
    list-style-type: none; 
    padding: 0;
    max-width: 600px;
    margin-top:60px; 
    margin-left: 90px; 
    background: #D3C8BD;
    ; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px; 

    
}

.type1{
    padding: 15px;
    position:relative;
            border-bottom: 1px solid #F3F4E9; 
            transition: 0.3s;
}

.type1:last-child {
    border-bottom: none; 
}

.type1:hover {
    background: #cac2b4; 
}


.type{
    max-width: 150px;
    margin-right: 20px;
    display: block;
   
}

.type1::after {
    content: attr(data-toolip); 
    font-family: Arial, sans-serif;
    font-size:17px;
    position: absolute;
    left: 50%;
    bottom: 100%; 
    transform: translateX(-50%);
    background: #998b7e;
    color: #F3F4E9; 
    padding: 5px 10px; 
    border-radius: 5px; 
    white-space: nowrap; 
    opacity: 0; 
    transition: opacity 0.3s; 
    pointer-events: none; 
}

.type1:hover::after {
    opacity: 1; 
}

  @media (max-width: 600px) {
    .types {
        padding: 10px; 
    }

    .type1 {
        padding: 10px; 
    }
}  


.container13{
    margin-bottom: 30px;
    text-align: center;
    position: relative;
    display: inline-block;

}

.tutor{
    text-align: center;
    color:#817569;
    font-weight: bold;
    font-size:20px ;

}

.container13 h2{
    width: 100%;
    font-size: 24px;
    margin-bottom: 10px;
    color:#817569;
}


.hidden-text {
    display: none; 
    font-size: 16px; 
    color: #817569; 
}

h2:hover + .hidden-text {
    display: block;
}





.tooltip{
    font-family: Arial, sans-serif;
    visibility: hidden; 
            width: 220px; 
            background-color: #998b7e; 
            color: #F3F4E9; 
            text-align: center; 
            border-radius: 5px;
            padding: 5px; 
            position: absolute; 
            bottom: 5%; 
            left: -60%; 
            transform: translateX(-50%); 
            opacity: 0; 
            transition: opacity 0.3s; 
            z-index: 10;
}

.container13:hover .tooltip {
    visibility: visible; 
    opacity: 1; 
} 





.pricet{
    margin-bottom: 20px;
    text-align: center;
    font-size:50px;
    color:#817569;

}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    
    background: #F3F4E9;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 15px;
    width: 300px;
    transition: transform 0.3s;
}
.card:hover {
    transform: translateY(-5px);
}
.card h3 {
    font-size: 1.5em;
    margin: 10px 0;
    color: #998b7e;
}
.card p {
    font-size: 1.1em;
    color: #948989;
}

.dop{
    font-size: 8px;
    color: #877979;
}

.price {
    font-size: 1.6em;
    color: #d49dc9;
    margin: 15px 0;
}
.button {
    display: inline-block;
    background: #D3C8BD;
    color: F3F4E9;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition:  0.3s;
}
.button:hover {
    background: #e0e0b2;
}


/*Rating*/

.ratingText{

    text-align: center;
    font-size:50px;
    color:#817569;
    margin-top: 5%;

}
.rating{
    display: flex;
            justify-content: center; 
            align-items: center; 
           
}
.carousel {
    position: relative;
    width: 365px; 
    height: 285px; 
    overflow: hidden;
    display: flex;
    justify-content: center; 
    align-items: center; 
           
}

.carousel img {
    width: 100%;
    height: auto;
    display: none; 
}

.carousel img.active {
    display: block; 
}

.arrow {
    font-size: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    padding: 2px;
}

.left-arrow {
    left: 5px;
}

.right-arrow {
    right: 5px;
}




#Sociality{
    margin-top:30px;
    background-color: #fcedef;
}

.sociality{
   
    display: flex;
   justify-content: center;
}




.links{
    color:#D3C8BD;
    margin: 0 10px;
    display: inline-block;

}
.links img{
    max-width: 30px;
}



.footer-end{
    background-color:#b5a797;
    align-items: center;

}

.footer-end p{
    color:#F3F4E9;
    font-size:16px;
    align-items: center;
    line-height: 28px;
    
}


@media (max-width: 500px){
    .pricing-option {
        width: 270px;
    }
}

@media(max-width: 732px){
    .tooltip{
        width:170px;
        height:180px;
        bottom:15%;
        left:75%;
        top:200px;

        font-size: small;
        
    }
    
    .type1::after{
    font-size: 12px; 
    padding: 10px; 
    white-space: normal;
    width: 150%; 
    left: 50%; 
    transform: translateX(-50%); 
    }

}


 


@media screen and (min-width:392x) and (max-width:420px){
    .sub-title ul li{
        align-items: center;
        margin-right:30px;
    }
}

 @media screen and (min-width:425px) and (max-width:500px){
    .sub-title ul li{
        align-items: center;
        margin-left:30px;
    }
} 


@media screen and (min-width: 760px) and (max-width: 819px)
{
    
    .sub-title ul li{
       
        margin-left: 200px;
    }

}




@media screen and (min-width: 1000px) and (max-width: 1025px)
{
    
    .sub-title ul li{
       
        margin-left: 400px;
    }

}




@media screen and (min-width: 1026px) and (max-width: 1500px)
{
    
    .sub-title ul li{
       
        margin-left: 320px;
    }

}


@media(max-width:1025px){

}




/* <a class="qr" href="http://qrcoder.ru" target="_blank"><img
src="http://qrcoder.ru/code/?https%3A%2F%2Fwww.instagram.com%2Fast.daria%3Figsh%3DMXVlbTk2anplNnMzZA%3D%3D&4&0"
width="164" height="164" title="QR код"></a> */